/*
* @author: opLynx
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #555;
    color:white;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin: 0;
    text-align: center;
    text-decoration: none;
    color: white;
}

#add-bookmarks-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.form-label {
    margin-right: 10px;
    min-width: 150px;
    min-width: 100px;
}

.form-input {
    padding: 10px;
    padding: 5px;
    margin-right: 10px;
    width: 250px;
}

#submit-button {
    padding: 10px 20px;
    padding: 5px 10px;
    background-color: #212121;
    color: white;
    border: none;
    cursor: pointer;
}

#submit-button:hover {
    background-color: #171717;
}

#message {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    #add-bookmarks-form {
        flex-direction: column;
    }

    .form-label, .form-input, #submit-button {
        width: 100%;
    }

    #submit-button {
        margin-top: 10px;
    }
}


