
/*
* @author: opLynx
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

ul#bookmarks-list {
    list-style-type: none;
    padding: 0;
}
