/*
author: Gustavo Sopena
date started: 2024-08-11 at 1300
*/

#content {
    font-family: serif;
    font-style: 14px;
    text-align: center;
}

#sending_url_design {
    visibility: hidden;
    display: none;
}

header {
    /* background-color: #616161;
    color: white; */
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #616161;
    color: white;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
}
