<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a bookmark | Bookmarks Manager</title>
    <link rel="stylesheet" href="../css/add.css">
</head>
<body>
    <header>
        <h1>Add a bookmark</h1>
    </header>

    <main>
        <form id="add-bookmarks-form" autocomplete="on">
            <label for="name" id="name-label" class="form-label">Name:</label>
            <input type="text" id="name" name="name" class="form-input">

            <label for="url" id="url-label" class="form-label">URL:</label>
            <input type="url" id="url" name="url" class="form-input">

            <button type="submit" id="submit-button">Submit</button>
        </form>
    </main>

    <script src="/js/script.js" defer></script>
</body>
</html>