<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of bookmarks</title>
    <link rel="stylesheet" href="../css/list.css">
    <link rel="icon" href="/assets/logo.png" type="image/x-icon">
</head>
<body>
    <header>
        <h1>Bookmarks Manager</h1>
    </header>

    <main>
        <h1>List of Bookmarks</h1>
        <nav>
            <a href="/template/add.html">Add a bookmark</a>
            <a href="../index.html">Go to homepage</a>
        </nav>

        <div id="bookmarks-list">
            <!-- bookmarks will be added here -->
        </div>
    </main>

    <script src="/js/bookmark.js" defer></script>
</body>
</html>